@model IEnumerable<MinerTrabajoFInal.Models.Cliente>

<h2>Registros</h2><br>

<p>
    <a asp-action="Crear">Registrar</a>
</p><br>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.razonsocial)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.dni)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.direccion)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.telefono)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.correo)
                </th>
        </tr>
    </thead>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">
                <a asp-action="Editar" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Eliminar" asp-route-id="@item.id">Eliminar</a>
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.razonsocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correo)
            </td>
        </tr>
    }        
    </tbody> 

    
</table>