@model MinerTrabajoFInal.Models.Resultado

@{
    ViewData["Title"] = "recepcion";
}

<h1><center>RESULTADO</center></h1>
 <table class="table">
    
  <thead class="thead-dark">
    <tr>
      <th scope="col">N°</th>
      <th scope="col">CLIENTE</th>
      <th scope="col">TIPO DE ANALISIS</th>
      <th scope="col">RESULTADO</th>
    </tr>
  </thead>
  } @foreach(Resultado recepcion in ViewBag.recepcion)
        {
            <tr>
                <td>@recepcion.IdCliente</td>
                <td>@recepcion.n.Nombre</td>
                <td>@Cliente.Dui</td>
                <td>@Cliente.Nit</td>
                <td>@Cliente.Correo</td>
                <td><a asp-action="Modificar" asp-controller="RESULTADO" asp-route-id="@Cliente.IdCliente">Editar</a></td>
                <td><a asp-action="Eliminar" asp-controller="Clientes" asp-route-id="@Cliente.IdCliente">Eliminar</a></td>
            </tr>
        }

</table>

} @foreach(Clientes Cliente in ViewBag.Clientes)
        {
            <tr>
                <td>@Cliente.IdCliente</td>
                <td>@Cliente.Nombre</td>
                <td>@Cliente.Dui</td>
                <td>@Cliente.Nit</td>
                <td>@Cliente.Correo</td>
                <td><a asp-action="Modificar" asp-controller="Clientes" asp-route-id="@Cliente.IdCliente">Editar</a></td>
                <td><a asp-action="Eliminar" asp-controller="Clientes" asp-route-id="@Cliente.IdCliente">Eliminar</a></td>
            </tr>
        }