@model dynamic
@{
    ViewData["Title"] = "Recepcion de Muestra";
    Resultado rece= new Resultado();
   
}


<div class="container">
    <div class="col-md-5">  
        <h3 >Recepcion de Muestra</h3>
        <form  asp-controller="Recepcion" asp-action="Registrar" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
             <div class="form-group">
                <label asp-for="@rece.idcliente" class="control-label"></label>
                <select name="idcliente">
                    
                     @foreach (Cliente c in Model.cli)
                {
                   <option value="@c.id">@c.razonsocial</option>
                }
                
  
  
                </select>
            </div>
           
            <div class="form-group">
                <label asp-for="@rece.numerorecpcion" class="control-label"></label>
                <input name="numerorecpcion" class="form-control" />
                <span asp-validation-for="@rece.numerorecpcion" class="text-danger"></span>
            </div>
             
                   
            <div class="form-group">
                <label asp-for="@rece.tipo_analisis" class="control-label"></label>
                <select name="tipo_analisis">
                    
                     @foreach (Muestras m in Model.Muestras)
                {
                   <option value="@m.Muestra">@m.Muestra</option>
                }
                
  
  
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@rece.Envoltura" class="control-label"></label>
                <input name="Envoltura" class="form-control" />
                <span asp-validation-for="@rece.Envoltura" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <label asp-for="@rece.precio" class="control-label"></label>
                <input name="precio" class="form-control" />
                <span asp-validation-for="@rece.precio" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="@rece.cantidad" class="control-label"></label>
                <input name="cantidad" class="form-control" />
                <span asp-validation-for="@rece.cantidad" class="text-danger"></span>
            </div>
                         

                       

            <div class="form-group">
                 <button type="submit" class="btn btn-success">Registrar</button> 
            </div>                

        </form>
            
         
    
    </div>
   
</div>

